body {
  font-family: 'Nunito Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 426px;
  border-radius: 20px;
  border: 1px solid #ccc; 
  box-shadow: 0px 20px 32px 0px #6061703D, 0px 2px 8px 0px #28293D14;
  position: relative;
}

.content {
  width: 388px; 
  height: 370px; 
  padding: 16px; 
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  text-align: left;
  margin: 0;
  color: #000000;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.registration input {
  display: block; 
  margin-bottom: 10px; 
}

.link {
  text-decoration: none; 
  color: inherit; 
}

.link:hover {
  text-decoration: underline;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666;
  text-align: left;
}

.agreement a:hover {
  text-decoration: underline;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background-color: #ffe44d;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #7c6a00;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 87px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #f0f0f0;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url('close-icon.svg') no-repeat center center; /* Пример для иконки */
  background-size: cover;
}