* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.booking-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba (0, 0, 0, 0,5);
}


.title-title {
    background-color: #87ceeb;
    color: #ffffff;
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    justify-content: center;     
    text-align: center;         
    height: 260px;
    width: 511px;               
}

.tour-title1, .tour-title2 {
    margin: 0;                   
    font-size: 60px;            
}

}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none;
  height: 80px;
}

.name-inputs {
  display: flex;
  gap: 10px;
}

.name-inputs input {
  width: calc(50% - 5px);
}

.checkbox-group, .radio-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background-color: #45a049;
}